[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = {extras = ["crypto"], version = "*"}
ariadne = "*"
mangum = "*"
fastapi = "==0.99.0"
python-decouple = "*"
sqlalchemy = "*"
pg8000 = "*"
fastapi-logger = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"
requests = "*"
uvicorn = "*"

[requires]
python_version = "3.11"
