[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = {extras = ["crypto"], version = "*"}
ariadne = "*"
fastapi = "==0.99.0"
python-decouple = "*"
sqlalchemy = "*"
pg8000 = "*"
passlib = {extras = ["bcrypt"], version = "*"}
uvicorn = "*"
python-multipart = "*"
python-dotenv = "*"
fastapi-route-logger-middleware = "*"

[dev-packages]
pytest = "*"
requests = "*"

[requires]
python_version = "3.11"
