[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = {extras = ["crypto"] }
ariadne = "*"
python-decouple = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"] }
uvicorn = "*"
python-multipart = "*"
python-dotenv = "*"
fastapi-route-logger-middleware = "*"
fastapi = "*"
psycopg = {extras = ["binary"] }
fastapi-limiter = "*"
redis = "*"
secweb = "*"

[dev-packages]
pytest = "*"
requests = "*"
pytest-order = "*"

[requires]
python_version = "3.11"
